{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="content">
		<h3>Création d'une information</h1>
		<form class="form-horizontal">
			<div class="form-group">

			{{ form(form) }}

			</div>
		</form>
	</div>

{% endblock %}
