
{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/datepicker.js') }}"></script>
{% endblock %}


{% block content %}


	{% block body %}
    <div class="content">

        <h3>Création d'une alerte</h1>

		{{ form (form) }}

    </div>
    {% endblock %}

{% endblock %}	
