{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block content %}
	<!-- BODY -->
	<div class="content">
	  <h3>Description des modules de l'application</h3>
	  	<div class="panel-group" id="accordion">

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          <span class="glyphicon glyphicon-cog"></span> Gestion des groupes
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <div class="panel-body">
		        Description module : Gestion des groupes
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          <span class="glyphicon glyphicon-user"></span> Gestion des utilisateurs
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		        Description module : Gestion des utilisateurs
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          <span class="glyphicon glyphicon-globe"></span> Gestion des zones
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		        Description module : Gestion des zones
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		          <span class="glyphicon glyphicon-exclamation-sign"></span> Gestion des alertes
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse">
		      <div class="panel-body">
		        Description module : Gestion des alertes
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
		          <span class="glyphicon glyphicon-list-alt"></span> Gestion des informations
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse">
		      <div class="panel-body">
		        Description module : Gestion des informations
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		          <span class="glyphicon glyphicon-thumbs-up"></span> Gestion des conseils
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse">
		      <div class="panel-body">
		        Description module : Gestion des conseils
		      </div>
		    </div>
		  </div>

		</div>
	</div>
{% endblock %}