{% block content %}
	<!-- BODY -->
	<div class="content">
		<h3>Changement du mot de passe</h3>

		<div>
			{{ form_widget(form) }}
		</div>
		<div style="margin-top: 10px;">
	    	<button type="submit" class="btn btn-primary">Enregistrer</button>
		    <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Annuler</a>
	    </div>
	</div>
{% endblock %}