{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block content %}
	<div class="content">
		<h3>Création d'un conseil</h3>
		<form class="form-horizontal">
			<div class="form-group">
			  <p>
			      <label for="conseilTitle" class="control-label">Titre *</label>
			      <input type="text" class="form-control" id="conseilTitle" placeholder="Titre" data-toggle="tooltip" data-placement="right" title="Renseigner le titre du conseil." required>
			  </p><p>
			  	  <label for="conseilImg" class="control-label">Photo</label>
			      <div class="input-group list-form-control" data-toggle="tooltip" data-placement="right" title="Joindre une photo ou copier/coller un lien d'image (le bouton visualiser n'est disponible que pour les liens d'image internet).">
			        <input type="text" class="form-control imgLink" id="conseilImg" placeholder="Photo">
			        <span class="input-group-btn">
			          <button id="conseilImgBtn1" class="btn btn-default imgJoin" type="button"><span class="glyphicon glyphicon-paperclip"></span> Joindre</button>
			          <button id="conseilImgBtn2" class="btn btn-default imgView" type="button"><span class="glyphicon glyphicon-eye-open"></span> Visualiser</button>
			        </span>
			      </div>
			      <input type="file" class="imgLink" onchange="sub(this)" style="display:none;">
			  </p><p>
			      <label for="conseilLien" class="control-label">Lien</label>
			      <input type="text" class="form-control" id="conseilLien" placeholder="Lien" data-toggle="tooltip" data-placement="right" title="Renseigner un lien" required>
			  </p><p>
			      <label for="conseilDateValid" class="control-label">Date de validité</label>
			      <input type="text" class="form-control elmDateValid" id="conseilDateValid" placeholder="Date de validité" data-toggle="tooltip" data-placement="right" title="Renseigner / Sélectionner une date de validitée (infinie si non rempli)." required>
			  </p><p>
			      <label for="conseilInformation" class="control-label">Message *</label>
			      <textarea name="conseilInformation" id="conseilInformation" class="form-control" cols="50" placeholder="Saisisser les informations complémentaires liées à l'conseile." required></textarea>
		      	  <script>
	                CKEDITOR.replace( 'conseilInformation' );
	              </script>
		      </p><p>
		      	<a class="btn btn-primary" href="?url=conseil&action=manage">Valider</a>
		      	<a class="btn btn-default" href="?url=accueil">Annuler</a>
		  	  </p>
		    </div>
		</form>
	</div>
{% endblock %}