{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block content %}
	<div class="content">
		<h3>Gestion des groupes</h3>
		<table class="table table-hover">
		  <tr>
		  	<th>Actions</th>
		  	<th>Nom <span class="glyphicon cheveron-down" title="Trier par nom"></span></th>
		  	<th>Groupe <span class="glyphicon cheveron-down" title="Trier par groupe"></span></th>
		  	<th>Utilisateurs <span class="glyphicon cheveron-down" title="Trier par utilisateurs"></span></th>
		  	<th>Alertes <span class="glyphicon cheveron-down" title="Trier par alertes"></span></th>
		  	<th>Messages <span class="glyphicon cheveron-down" title="Trier par messages"></span></th>
		  	<th>Informations</th>
		  </tr>

		  <tr>
		  	<td data-element="Groupe n°0">
		  		<span class="glyphicon glyphicon-pencil modifyElement" title="Modifier"></span>
		  		<span class="glyphicon glyphicon-remove removeElement" title="Supprimer"></span>
		  	</td>
		  	<td>Groupe n°0</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>Infos groupe n°0</td>
		  </tr>

		  <tr>
		  	<td data-element="Groupe n°1">
		  		<span class="glyphicon glyphicon-pencil modifyElement" title="Modifier"></span>
		  		<span class="glyphicon glyphicon-remove removeElement" title="Supprimer"></span>
		  	</td>
		  	<td>Groupe n°1</td>
		  	<td>
		  		-
		  	</td>
		  	<td>
		  		-
		  	</td>
		  	<td>
		  		-
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>Infos groupe n°1</td>
		  </tr>

		  <tr>
		  	<td data-element="Groupe n°2">
		  		<span class="glyphicon glyphicon-pencil modifyElement" title="Modifier"></span>
		  		<span class="glyphicon glyphicon-remove removeElement" title="Supprimer"></span>
		  	</td>
		  	<td>Groupe n°2</td>
		  	<td>
		  		-
		  	</td>
		  	<td>
		  		-
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		-
		  	</td>
		  	<td>Infos groupe n°2</td>
		  </tr>

		  <tr>
		  	<td data-element="Groupe n°3">
		  		<span class="glyphicon glyphicon-pencil modifyElement" title="Modifier"></span>
		  		<span class="glyphicon glyphicon-remove removeElement" title="Supprimer"></span>
		  	</td>
		  	<td>Groupe n°3</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>
		  		-
		  	</td>
		  	<td>
		  		<span class="glyphicon glyphicon-ok"></span>
		  	</td>
		  	<td>Infos groupe n°3</td>
		  </tr>
		</table>
	</div>
{% endblock %}