{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block content %}
	<div class="content">
		<h3>Création d'une information</h3>
		<form class="form-horizontal">
			<div class="form-group">
			  <p>
			      <label for="infoTitle" class="control-label">Titre *</label>
			      <input type="text" class="form-control" id="infoTitle" placeholder="Titre" data-toggle="tooltip" data-placement="right" title="Renseigner le titre de l'information." required>
			  </p><p>
			  	  <label for="infoImg" class="control-label">Photo</label>
			      <div class="input-group list-form-control" data-toggle="tooltip" data-placement="right" title="Joindre une photo ou copier/coller un lien d'image (le bouton visualiser n'est disponible que pour les liens d'image internet).">
			        <input type="text" class="form-control imgLink" id="infoImg" placeholder="Photo">
			        <span class="input-group-btn">
			          <button id="infoImgBtn1" class="btn btn-default imgJoin" type="button"><span class="glyphicon glyphicon-paperclip"></span> Joindre</button>
			          <button id="infoImgBtn2" class="btn btn-default imgView" type="button"><span class="glyphicon glyphicon-eye-open"></span> Visualiser</button>
			        </span>
			      </div>
			      <input type="file" class="imgLink" onchange="sub(this)" style="display:none;">
			  </p><p>
			      <label for="infoLien" class="control-label">Lien</label>
			      <input type="text" class="form-control" id="infoLien" placeholder="Lien" data-toggle="tooltip" data-placement="right" title="Renseigner un lien" required>
			  </p><p>
			      <label for="infoDateValid" class="control-label">Date de validité</label>
			      <input type="text" class="form-control elmDateValid" id="infoDateValid" placeholder="Date de validité" data-toggle="tooltip" data-placement="right" title="Renseigner / Sélectionner une date de validitée (infinie si non rempli)." required>
			  </p><p>
			      <label for="infoInformation" class="control-label">Message *</label>
			      <textarea name="infoInformation" id="infoInformation" class="form-control" cols="50" placeholder="Saisisser les informations complémentaires liées à l'infoe." required></textarea>
		      	  <script>
	                CKEDITOR.replace( 'infoInformation' );
	              </script>
		      </p><p>
		      	<a class="btn btn-primary" href="?url=info&action=manage">Valider</a>
		      	<a class="btn btn-default" href="?url=accueil">Annuler</a>
		  	  </p>
		    </div>
		</form>
	</div>
{% endblock %}