{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block content %}
        <div class="content">

                <h3>Gestion des conseils</h3>

                <table class="table table-hover">

                    <tr>
                        <th>Actions</th>
                        <th>Titre <span class="glyphicon cheveron-down" title="Trier par titre"></span></th>
                        <th>Date création <span class="glyphicon cheveron-down" title="Trier par date de création"></span></th>
                        <th>Date de validité <span class="glyphicon cheveron-down" title="Trier par date de validité"></span></th>
                    </tr>

                    {% for entity in entities %}
                        <tr>
                            <td>
                                    <span class="glyphicon glyphicon-pencil modifyElement" title="Modifier"></span>
                                    <span class="glyphicon glyphicon-remove removeElement" title="Supprimer"></span>
                            </td>
                            <td>{{ entity.titre }}</td>
                            <td>{{ entity.datecreation }}</td>
                            <td>{{ entity.datemiseajour }}</td>
                        </tr>
                    {% endfor %}

                </table>
        </div>
{% endblock %}