{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block content %}
	<div class="content">
		<h1>Groupe edit</h1>

    	{{ form(edit_form) }}
    	{{ form(delete_form) }}

    	<p>
			<a class="btn btn-default" href={{ path('groupe') }}>Annuler</a>
		</p>
	</div>
{% endblock %}