{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block content %}
    <div class="content">
        <h3>Gestion des zones</h3>
        <table class="records_list table table-hover">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('zone_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" title="Modifier"></span></a>
                    </td>
                    <td>{{ entity.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}