
{% extends 'ThiefaineReferentielBundle:Default:index.html.twig' %}

{% block content %}
    <!-- BODY -->
    <div class="panel panel-default" style="margin-top: 20px;">
      <div class="panel-heading" style="font-weight: bold;">
        Bienvenue dans l'application Thiefaine
      </div>
      <div class="panel-body" style="text-align: justify;">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <span class="glyphicon glyphicon-briefcase"> </span> Contexte
                      </div>
                      <div class="panel-body" style="text-align: justify;">
                        <p>
                            Pour faire face à la montée constante des cambriolages en Ille-et-Vilaine, la gendarmerie de Rennes a décidé de mettre en place une application mobile pour informer la population des risques des cambriolages et les précautions à prendre.
                        </p><p>
                            Cette plateforme web, réservée exclusivement à la gendarmerie, permet d'effectuer l'ensemble de l'administration liée à cette application.
                        </p>
                      </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <span class="glyphicon glyphicon-info-sign"> </span> Fonctionnalités
                      </div>
                      <div class="panel-body" style="text-align: justify;">
                        L'application actuelle vous permet de :
                        <ul>
                            <li>
                                vous connecter avec un login et mot de passe
                            </li>
                            <li>
                                accéder à la gestion :
                                <ul>
                                    <li>
                                        des groupes
                                    </li>
                                    <li>
                                        des utilisateurs
                                    </li>
                                    <li>
                                        des zones géographiques
                                    </li>
                                </ul>
                            </li>
                            <li>
                                ajouter, modifier ou supprimer :
                                <ul>
                                    <li>
                                        des informations
                                    </li>
                                    <li>
                                        des conseils
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% image 'bundles/thiefainereferentiel/images/img_connection.jpg' %}
        <img class="img-thumbnail" style="width:100%;" src="{{ asset_url }}">
    {% endimage %}
{% endblock %}
