{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block content %}
        <div class="content col-md-9">

            <h3>Gestion des categories</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Libellé <span class="glyphicon cheveron-down" title="Trier par libellé"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>
                            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">
                                <span class="glyphicon glyphicon-pencil" title="Modifier"></span>
                            </a>
                            <a href="{{ path('categorie_delete', {'id': categorie.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette categorie ?')">
                                <span class="glyphicon glyphicon-remove" title="Supprimer"></span>
                            </a>
                        </td>
                        <td>{{ information.categorie.libelle }}</td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
{% endblock %}